<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {{!-- Bootstrap --}}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        {{!--NOTE: aria label add for accessibility--}}
      <nav class="navbar navbar-expand-lg navbar-dark bg-info" >
    <button class="navbar-toggler" type="button"
     data-toggle="collapse" aria-label="Toggle navigation" >
   <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse">
         <ul class="navbar-nav" style=" font: size 20px;">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/news">News Sentiment</a>
            </li>
         </ul>
     </div>
     </nav>
     <div class="container">
         <div class="row">
         <div class="col-lg-14 text-center main">
             <div>
                 <h1>Your mini investment guide</h1>
                 <p>Please type in the company symbol</p>
         <form action="/news" method="post">
         <input name="comp_symbol" type="text"  id="btn" btnColor = "btnColorShade()">
         <button class="primary">Submit</button>
         </form>
     </div>
     <div class="mt-3">
         {{!-- add the variables that needs to be called --}}
         <h1>Company Profile</h1>
         <table border="1">
              <tr> <th>Company</th><td>{{resultName}} {{error}}</td> </tr>
             <tr> <th>Symbol</th> <td> {{resultTicker}} </td>  </tr>
              <tr> <th>Country</th><td>  {{resultCountry}}   </td></tr>
               
               <tr><th>Industry</th><td> {{resultIndustry}} </td></tr>
               <tr><th>Exchange</th><td> {{resultFirst}} </td></tr>
               <tr><th>Currency</th><td> {{resultCurrency}} </td></tr>
                 {{!-- <tr> <th>Logo</th> <td>{{resultLogo}} </td> --}}

           </tr>
           <tr> </tr>
             <tr></tr>
              <tr></tr>
               <tr></tr>
         </table>
         <div>
           <h2>News sentiment</h2>
           <p>Bullish Percent: {{resultSecond.bullishPercent}} %</p>
           <p>Bearish Percent: {{resultSecond.bearishPercent}} %</p>
           <p>Articles in Last week: {{ resultArticles}}</p>
           <p>Weekly Average: {{ resultScore}}</p>
           <p>Sector Average News Score: {{ resultAvg}} </p>
    
         </div>
        
   {{!-- for loop --}}


     </div>
  
       </div>
       </div>
     </div>
     <div id="demo"></div>
   <script>
  
    
   </script>
    </body>
</html>